VITE_FIREBASE_API_KEY=AIzaSyAnvPUD8NmYUC-fA7ypMvlrfIdAngL0KF0
VITE_FIREBASE_AUTH_DOMAIN=cuarenta-dfbf1.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://cuarenta-dfbf1-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=cuarenta-dfbf1
VITE_FIREBASE_STORAGE_BUCKET=cuarenta-dfbf1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=78708075147
VITE_FIREBASE_APP_ID=1:78708075147:web:3bffd7a9a76f0ed27fc28e
VITE_FIREBASE_MEASUREMENT_ID=G-QE2JKLQ686
VITE_BASE_PATH=/cuarenta/
