#choose-game-creation-option {
    z-index: 5;
    width: 50vw;
    height: 70vh;
    background-color: white;
    margin: 0 auto;
    top: 48.5%; 
    transform: translate(50%,-50%);
    position: absolute;
}

#create-game-screen {
    z-index: 5;
    width: 50vw;
    height: 70vh;
    background-color: white;
    margin: 0 auto;
    top: 48.5%; 
    transform: translate(50%,-50%);
    position: absolute;
    display: none;
    text-align:center
}

#join-game-screen {
    z-index: 5;
    width: 50vw;
    height: 70vh;
    background-color: white;
    margin: 0 auto;
    top: 48.5%; 
    transform: translate(50%,-50%);
    position: absolute;
    display: none;
    text-align:center
}


#cuarenta {
    width: 100vw;
    height: 100vh;
    background-color: rgb(40, 216, 0);
    margin: auto;
    position: relative;
}

#board {
    z-index: 1;
    width: 50vw;
    height: 50vh;
    background-color: rgb(53, 195, 34);
    margin: 0 auto;
    position: absolute;
    top: 48.5%; 
    transform: translate(50%,-50%);
}

.user-hand {
    height: 25vh;
    width: 50vw;
    background-color: white;
    position: relative;
    top: 75%;
    margin: 0 auto;
    border-top:3px solid black;
    display: none;   
}

.user-info {
    height: 25vh;
    width: 25vw;
    background-color: white;
    position: relative;
    right: 100%;
    margin: 0 auto;
    border:3px solid black;
    display: block;   
}

.button {
    width: 25vw;
    z-index:10;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .joinGame {background-color: #4CAF50;} /* Green */
  .joinGame {top: 40%;}
  .createGame {background-color: #008CBA;} /* Blue */
  .joinLobby {background-color: #ba0019;}
  .createLobby {background-color: #ba0019;}

.card {
    margin: 0 auto;
    position: relative;
    height: 90%;
    width: 19%;
    top: 7%;
    left: 1%;
    padding-inline: 2px;
    display: inline-block;
}

.input{
    position: relative;
    left: 50%;
}